[submodule "ThirdParty/filesystem"]
	path = ThirdParty/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "ThirdParty/sighandlers"]
	path = ThirdParty/sighandlers
	url = git@git.hypersolve.io:hddm/sighandlers.git
[submodule "ThirdParty/pybind11"]
	path = ThirdParty/pybind11
	url = git@github.com:pybind/pybind11.git
